/* GLOBAL CSS */

:root {
	/* Colors */
	--primary-color: #fe3478;
	--primary-color-alt: #b42253;
	--primary-color-20p: hsla(340, 99%, 60%, 0.3);
	--secondary-color: #ff7654;
	--secondary-color-alt: #f75931;
	--secondary-color-20p: hsla(12, 100%, 66%, 0.3);
	--light-color: #efefef;
	--light-color-alt: #e7e7e7;
	--light-color-alt-hover: #cfcfcf;
	--dark-color: #272727;
	--dark-color-alt: #666666;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	/* Font-Sizes */
	--text-xxs: .6rem;
	--text-xs: .7rem;
	--text-s: .9rem;
	--text-m: 1.1rem;
	--text-l: 1.3rem;
	--text-xl: 1.6rem;

	font-family: 'Poppins', sans-serif;
	font-size: var(--text-s);
	line-height: 1.4;
	background-color: var(--light-color);
	color: var(--dark-color-alt);
}

/* Scrollbar */

::-webkit-scrollbar {
	width: .5rem;
	height: .5rem;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 100%);
	border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(135deg, var(--primary-color-alt) 0%, var(--secondary-color-alt) 100%);
}

::-webkit-scrollbar-track {
	background: var(--light-color-alt);
}

img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

ul {
	list-style-type: none;
}

a {
	color: var(--dark-color);
	text-decoration: none;
	font-weight: bold;
	transition: all .2s ease;
	display: block;
}

a:hover {
	color: var(--primary-color-alt);
}

svg {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

h2 {
	padding-bottom: 1rem;
	color: var(--primary-color);
}

h3 {
	color: var(--primary-color-alt);
}

/* Text-edits */

.lobster {
	font-family: 'Lobster', serif;
}

.text-m {
	font-size: var(--text-m);
}

.text--bold {
	font-weight: bold;
}

.text-light {
	color: var(--color-light);
}

/* Custom used classes */

.rounded-corners {
	border-radius: .5rem;
}

.section-description {
	margin-bottom: 2rem;
}

.no-pointer-event {
	pointer-events: none;
}

.box-shadow {
	box-shadow:
		0 .125rem .625rem rgba(0, 0, 0, 0.037),
		0 .5rem 2.5rem rgba(0, 0, 0, 0.053),
		0 1rem 4rem rgba(0, 0, 0, 0.1);
}

.margin-b-1r {
	margin-bottom: 1rem;
}

.margin-b-2r {
	margin-bottom: 2rem;
}

.margin-r-0 {
	margin-right: .5rem;
}

.margin-r-1 {
	margin-right: 1rem;
}

.margin-r-2r {
	margin-right: 2rem;
}

.dot {
	height: .25rem;
	width: .25rem;
	background-color: var(--secondary-color);
	border-radius: 50%;
	display: inline-block;
	margin-inline: .25rem;
}

/* Containers */

.container {
	padding: 1rem 2rem;
}

@media (min-width: 75rem) {
	.container {
		padding: 2rem;
	}
}

.flex-center {
	display: flex;
	align-items: center;
}

.overflow-container {
	height: 80vh;
	overflow-y: scroll;
}

.half-size {
	height: 37vh;
}

.top-container {
	height: 54vh;
}

.bottom-container {
	height: 20vh;
}

/* HEADER - Nav */

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	background-color: var(--light-color-alt);
}

.logo__link svg {
	width: 2rem;
	margin-right: .5rem;
}

/* MAIN Grid */

main {
	height: 90vh;
	display: grid;
	grid-template-columns: 1fr 1fr 2fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas:
		". . . .";
	gap: 1rem;
}

/* MAIN - Counter */

.counter {
	font-size: var(--text-s);
	opacity: .5;
}

/* MAIN - Users */

a.user__link {
	padding: .5rem;
}

a.user__link:hover {
	color: var(--dark-color);
	background-color: var(--light-color-alt-hover);
}

.selected--user a {
	color: var(--light-color);
	background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
}

.user__img {
	border-radius: 50%;
	margin-right: 1rem;
}

/* Main - Inbox/Outbox */

.flex-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 1rem;
}

.messages__list li {
	margin-right: 1rem;
	background-color: var(--light-color-alt);
	font-size: var(--text-xs);
}

.messages__list li:not(:last-child) {
	border-bottom: .0625rem solid var(--secondary-color);
}

.messages__list-item a {
	padding: 1rem;
}

.messages__list-item a:hover,
.selected-message a {
	background-color: var(--light-color-alt-hover);
	color: var(--dark-color);
}

.messages__list-item p {
	font-weight: normal;
}

.messages__list__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: .25rem;
}

.date {
	color: var(--dark-color-alt);
	font-size: var(--text-xxs);
	line-height: 1;
}

/* Main - Conversation */

.conversation>div>div {
	background-color: var(--light-color-alt);
}

.conversation>div>div>ul {
	padding: 1rem;
	display: flex;
	flex-flow: column-reverse nowrap;
	gap: 1rem;
}

.conversation-message--header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	margin-bottom: .25rem;
}

.conversation-message--sent {
	background-color: var(--secondary-color-20p);
	padding: 1rem;
	max-width: 75%;
	align-self: flex-end;
}

.conversation-message--received {
	background-color: var(--primary-color-20p);
	padding: 1rem;
	max-width: 75%;
	align-self: flex-start;
}

.conversation__message>div {
	padding: 1rem;
}

form {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
}

textarea {
	padding: 1rem;
	border: none;
	border-radius: .5rem;
	font-family: inherit;
	width: 90%;
	resize: none;
}

button {
	background-color: var(--primary-color);
	color: var(--light-color);
	padding: .5rem;
	border: none;
	border-radius: 50%;
	line-height: 0;
	cursor: pointer;
	transition: all .2s ease;
}

button:hover {
	background-color: var(--primary-color-alt);
}

/* Main - Matches */

.match__list {
	display: flex;
	flex-direction: column;
}

.match-wrapper {
	margin-right: 1rem;
	padding-block: 1rem;
}

.match-wrapper:not(:last-child) {
	border-bottom: solid .125rem var(--light-color-alt-hover);
}

.match-wrapper>div:first-of-type {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: .5rem;
}

.match-wrapper>div>div {
	width: 80%;
}

.match__btns {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.match__icon {
	opacity: .25;
	transition: all .2s ease;
	cursor: pointer;
}

.matched {
	opacity: 1;
}

.match__icon:hover {
	opacity: 1;
}

.cross {
	border-radius: 50%;
	border: .125rem solid;
}

.hidden {
	display: none;
}